@tailwind base;
@tailwind components;
@tailwind utilities;

header ul {
  padding: 0;
}

@layer components {

  /* generals */
  .header-font-size {
    font-size: 24px;
  }

  .header-mobile-font-size {
    font-size: 20px;
  }

  .big-font-size {
    font-size: 16px;
  }

  .general-font-size {
    font-size: 14px;
  }

  .medium-font-size {
    font-size: 12px;
  }

  .min-font-size {
    font-size: 10px;
  }

  .secondary-font-color {
    color: #938D8D;
  }

  .green-label {
    color: #58CB90;
  }

  .bg-principal-label {
    background-color: #58CB90
  }

  .transition-custom {
    @apply transition duration-1000 ease-out;
  }

  /* nav */
  .lang-selected {
    @apply text-[#FF5C00] transition duration-400 ease-out;
  }

  .me-hover {
    @apply w-7/12 md:w-[80%] xl:w-[60%];
  }

  .button-session {}

  /* home */
  .bg-home {
    background-color: #362B56;
  }

  .text-home-color {
    color: #362B56;
  }

  /* project */
  .card-container {
    @apply w-[90%] md:w-[30%] h-auto my-4 rounded-xl bg-cover bg-center hover:rotate-6 md:hover:scale-105 xl:hover:scale-105 cursor-pointer bg-black md:max-w-[50%] md:min-w-[30%]
  }

  .card {
    @apply ease-in-out w-full h-full flex flex-col rounded-xl justify-between items-center text-center opacity-0 hover:opacity-100 
  }
}